@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* CSS for the main body of the HTML, and the face */
body {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;
  width: 100%;
  font-family: "Crimson-Pro", sans-serif;
  padding: 15px;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
.content {
  width: 95%;
  height: 100%;
  margin-left: 38px;
  position: inherit;
  z-index: inherit;
}
h1 {
  text-align: center;
  position: inherit;
  z-index: inherit;
  font-size: 72px;
  line-height: .5;
  font-weight: 600;
}
#body {
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  position: inherit;
  z-index: inherit;
}
#face {
  width: 60%;
  height: 60%;
  border-radius: 25%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  position: inherit;
  z-index: inherit;
}
.background { 
  position: absolute;  
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: aliceblue;
  }


/* CSS for the sidebar, and all the logos */
.menu {
  height: 100%;
  width: 38px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.home {
  color: white;
  position: absolute;
  top: 6px;
  left: 7px;
}
#home-text {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 6px;
  left: 30px;
}
#git {
  max-width: 25px;
  max-height: 25px;
  position: absolute;
  top: 56px;
  left: 7px;
}
#git-text {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 62px;
  left: 40px;
}
#twitter {
  max-width: 25px;
  max-height: 25px;
  filter: invert(100%);
  position: absolute;
  top: 106px;
  left: 7px;
}
#twitter-text {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 110px;
  left: 38px;
}